<div class="container">
    <h2>Change Password</h2>
    <form action="/api/sessions/change-pass" method="POST">
        <div class="form-group">
            <label for="Email">Email</label>
            <input
                type="email"
                id="email"
                name="email"
                required
                value={{email}}
            />
        </div>
        <div class="form-group">
            <label for="password">Change Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <button type="submit" class="add-to-cart-button">Change</button>
        </div>
    </form>
</div>