<header>
    <h1>My Profile</h1>
</header>

<main>

    <h2>Data</h2>
    <ul>
        <li>Name: {{user.firstName}}</li>
        <li>Surname: {{user.lastName}}</li>
    </ul>

    <h2>Contact Information</h2>
    <p>Email: {{user.email}}</p>
    <p>Admin: {{user.isAdmin}}</p>
    <div class="form-group">
        <a href="/api/sessions/logout"><button
                type="submit"
                class="add-to-cart-button"
            >Logout</button></a>
    </div>
</main>