<div class="container">
    <h2>Recover Password</h2>
    <form action="/api/sessions/recover-pass" method="POST">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
            <button type="submit" class="add-to-cart-button">Recover</button>
        </div>
    </form>
</div>