<div class="container">
    <h2>Home</h2>

    <div class="form-group">
        <button type="submit" class="add-to-cart-button"><a
                href="/api/sessions/login"
            >Go to login</a></button>
    </div>

</div>