<div class="container">
    <h2>Login</h2>
    <form action="/api/sessions/login" method="POST">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <button type="submit" class="add-to-cart-button">Login</button>
        </div>
        <div class="form-group">
            <button type="submit" class="add-to-cart-button"><a
                    href="/api/sessions/github"
                >Login with Github</a></button>
        </div>
        <div class="form-group">
            <a href="/api/sessions/register" class="checkout-btn">Sign up</a>
        </div>
        <div class="form-group">
            <button type="submit" class="delete"><a
                    href="/views/recover-pass"
                >Forgot Password?</a></button>
        </div>
    </form>
</div>