<div class="container">
    <h2>Your role has Changed!</h2>
    <div class="form-group">
        <button type="submit" class="add-to-cart-button"><a
                href="/views/products"
            >Back to home</a></button>
    </div>
</div>