table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: lightgray;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    padding: 30px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group textarea {
    height: 100px;
}

.form-group input[type="submit"] {
    background-color: #4caf50;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

.eliminate-button {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ff4136;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.eliminate-button:hover {
    background-color: #dc322f;
}
.arrow-container {
    display: flex;
    align-items: center;
}
.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333333;
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}
.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    margin: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.card-info {
    font-size: 14px;
    color: #777;
}

.add-to-cart-button {
    display: inline-block;
    background-color: #4caf50;
    color: #ffffff;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.add-to-cart-button:hover {
    background-color: #45a049;
}
a {
    color: inherit;
    text-decoration: none;
}
